@model Entities.Contrasena
<div class="login-grids">
    <div class="login">
        <div class="login-bottom">
                <h2>Reinicio de contraseña</h2>

            <p class="message-success">@ViewBag.StatusMessage</p>

            <p>Usted inicio sesión como: <strong>@User.Identity.Name</strong></p>

            @using (Html.BeginForm("ResetPassword", "Account"))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()

                <div class="sign-up">
                    @Html.LabelFor(m => m.PasswordActual, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div>
                        @Html.PasswordFor(m => m.PasswordActual, new { @class = "text-box" })
                    </div>
                </div>

                <div class="sign-up">
                    @Html.LabelFor(m => m.PasswordNuevo, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div>
                        @Html.PasswordFor(m => m.PasswordNuevo, new { @class = "text-box" })
                    </div>
                </div>

                <div class="sign-up">
                    @Html.LabelFor(m => m.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div>
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "text-box" })
                    </div>
                </div>

                <input type="submit" value="Cambiar Contraseña" />
            }
        </div>
    </div>
</div>
